<!-- app.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-...." crossorigin="anonymous" />

<div>
  <h1>Prodotti</h1>

  <div class="tree">
    <ul>
      <li>
        <div>
          <button (click)="toggleNode(0)" style="margin-right: 1rem;">
            <i *ngIf="isNodeExpanded" class="fas fa-arrow-down"></i>
            <i *ngIf="!isNodeExpanded" class="fas fa-arrow-right"></i>
          </button>
          <span contenteditable="true"><strong>Active business</strong></span>
        </div>
        <ul *ngIf="isNodeExpanded">
          <li>
            <div>
              <button (click)="toggleNode(1)" style="margin-right: 1rem;">
                <i *ngIf="isNodeExpanded1" class="fas fa-arrow-down"></i>
                <i *ngIf="!isNodeExpanded1" class="fas fa-arrow-right"></i>
              </button>
              <span contenteditable="true">Commercianti - ora <strong>Active Impresa Commercio</strong></span>
            </div>
            <ul *ngIf="isNodeExpanded1">
              <li>
                <div>
                  <button (click)="toggleNode(2)" style="margin-right: 1rem;">
                    <i *ngIf="isNodeExpanded2" class="fas fa-arrow-down"></i>
                    <i *ngIf="!isNodeExpanded2" class="fas fa-arrow-right"></i>
                  </button>
                  <span contenteditable="true">Garanzie</span>
                </div>
                <ul *ngIf="isNodeExpanded2">
                  <li>
                  <span contenteditable="true">Incendi</span>
                  <ul>
                    <li>
                      <span contenteditable="true">...</span>
                    </li>
                    <li>
                      <span contenteditable="true">...</span>
                    </li>
                  </ul>
                  </li>
                  <li>
                    <span contenteditable="true">Merci trasportate</span>
                    <ul>
                      <li>
                        <span contenteditable="true">Caratteristiche generali</span>
                        <ul>
                          <li>
                            <span contenteditable="true">...</span>
                          </li>
                          <li>
                            <span contenteditable="true">...</span>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <span contenteditable="true">Esclusioni</span>
                        <ul>
                          <li>
                            <span contenteditable="true">...</span>
                          </li>
                          <li>
                            <span contenteditable="true">...</span>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <span contenteditable="true">Sotto-garanzie</span>
                        <ul>
                          <li>
                            <span contenteditable="true">Sgombero della sede stradale</span>
                            <table *ngIf="isNodeExpanded2" class="table">
                              <tr>
                                <td contenteditable="true" class="from">FROM (Active Business)</td>
                                <td contenteditable="true" style="font-weight: 500; padding-left: 1rem;">TO (Active Impresa Commercio)</td>
                              </tr>
                              <tr>
                                <td contenteditable="true" style="padding-right: 1rem;">Non specificato</td>
                                <td contenteditable="true" style="padding-left: 1rem;">Presente, limite 1.000€, franchigia 250€, franchigia 500€ per i mezzi in qualità di merci trasportate
                                </td>
                              </tr>
                              <tr>
                                <td contenteditable="true" style="padding-right: 1rem;">Past info</td>
                                <td contenteditable="true" style="padding-left: 1rem;">New info</td>
                              </tr>
                            </table>
                          </li>
                          <li>
                            <span contenteditable="true">...</span>
                          </li>
                        </ul>
                      </li>

                    </ul>
                  </li>
                </ul>





              </li>
              <li>
                <div>
                  <span contenteditable="true">...</span>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <div>
              <span contenteditable="true">Artigiani</span>
            </div>
          </li>
          <li>
            <div>
              <span contenteditable="true">...</span>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <div>
          <span contenteditable="true">...</span>
        </div>
      </li>
      <li>
        <div>
          <span contenteditable="true">...</span>
        </div>
      </li>
    </ul>
  </div>
</div>
